<app-layout-main>
  <h2>Overview Page</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="overview__form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput type="number" formControlName="age" />
      <mat-error *ngIf="form.get('age')?.errors?.['min']"
        >Age cannot be less than 0</mat-error
      >
      <mat-error *ngIf="form.get('age')?.errors?.['max']"
        >Age cannot be more than 125</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dob" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
      class="overview__submit-button"
    >
      {{ isFormEditMode ? 'Update' : 'Submit' }}
    </button>
  </form>
</app-layout-main>
