.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__container {
    display: flex;
    flex: 1;
  }

  &__section-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
