<div class="layout">
  <header>
    <app-header></app-header>
  </header>
  <main class="layout__container">
    <aside>
      <app-sidebar></app-sidebar>
    </aside>
    <section class="layout__section-container">
      <button
        class="layout__button-refresh"
        *ngIf="!isAboutPage"
        mat-raised-button
        color="warn"
        (click)="handleFormClear()"
      >
        Refresh
      </button>
      <ng-content></ng-content>
    </section>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
