<mat-card class="user-card">
  <mat-card-title class="user-card__body-text">{{
    userData.name
  }}</mat-card-title>
  <mat-card-content>
    <p class="user-card__body-text">Age: {{ userData.age }}</p>
    <p class="user-card__body-text">Gender: {{ userData.gender }}</p>
    <p class="user-card__body-text">Date of Birth: {{ userData.dob }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="user-card__button"
      mat-flat-button
      color="accent"
      (click)="onEdit()"
    >
      Edit
    </button>
    <button
      class="user-card__button"
      mat-flat-button
      color="warn"
      (click)="onDelete()"
    >
      Delete
    </button>
  </mat-card-actions>
</mat-card>
