.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  flex-shrink: 0;

  &__co {
    flex-basis: 50%;
    text-align: left;
    font-size: small;
    margin: 0;
  }
  &__year {
    text-align: right;
    font-size: small;
    margin: 0;
  }
}
